<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <nav class="Navbar">
        <div class="Navbar-brand">
          <a href="#About">Logo </a>
        </div>
        <ul class="Navbar-links">
          <li><a href="#About" >About</a></a></li>
          <li><a href="#Contact" >Contact</a></a></li>
          <li><a href="#Login" >Login</a></a></li>
          <li><a href="#SignUp" >Sign Up</a></a></li>
          
        </ul>
      </nav>
      </header>
      <section>
    <h1>Welcome to app!</h1>
</section>

</body>
</html>